.DS_Store
.history
.vscode
.idea
.eslintcache
.pnpm-debug.log
*.local
dist
node_modules
types
coverage

# 文件
.changeset/pre.json
meta/meta.json
packages/core/index.ts
packages/shared/index.ts
packages/vue-hooks/index.ts
packages/react-hooks/index.ts